# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.env
venv/
env/
virtualenv/
pip-log.txt
pip-delete-this-directory.txt
poetry.lock

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker

**/.env
**/docker/

# IDEs
.vscode/
.idea/

# PyCharm
*.idea/
*.idea/*
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Logs
*.log
*.log.*

# Others
.DS_Store
Thumbs.db
/working_scripts/
.flake8
pyproject.toml
app/data/
app/services/audio_transcription/audio_files/
app/services/audio_transcription/results/
